#task-active-container, #task-completed-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#task {
  margin-bottom: 5rem;
}

.card {
  width: 12em;
  margin: 20px 10px 10px 10px;
  padding: 5px;
  .btn {
    width: 2.5rem;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .card-footer-active {
    padding: 0;
    border: none;
    display: flex;
    justify-content: space-between;
  }
  .card-footer-complete {
    padding: 0;
    border: none;
    display: flex;
    justify-content: flex-end;
  }
}

.card-body {
  padding: 0px;
  display: inline-block;
}

#task-completed-container {
  .card-title {
    text-decoration-line: line-through;
  }
}