#task {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  width: 12em;
  margin: 20px 10px 10px 10px;
  padding: 5px;
  .btn {
    width: 2.5rem;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.card-body {
  padding: 0px;
  display: inline-block;
}
